
#title{
  background-color: #ff4c68;
  color: white;
}
h1{
  font-family: Rubik;
  line-height: 1.5;
  padding-bottom: 30px;
  padding-top: 20px;
}
h3{
font-family: 'Secular One', sans-serif;
}
h2{
  font-family: Rubik;
  font-size: 3rem;
  line-height: 1.5;

}
p{
  color: grey;
}
.container-fluid{
  padding: 1% 30%;
}
.row{
  padding: 5%;
}
.navbar-brand {
  font-size: 30px;
  font-family: cursive;

  padding-left: 45px;
}
.nav-link{
  font-size: 1.3rem;
  font-family: monospace;
}
.nav-item{
  padding: 0 18px;
}
.title-img{
  width: 50%;
  transform: rotate(24deg);
}
.brand{
  font-size: 30px;
}
.feature-list{
  text-align: center;
  padding: 5%;
}

.ditis{
  margin-bottom: 10px;
  color: #ffc8c8;
}
.ditis:hover{
  color: #ff4c68
}


#testimonials{
  text-align: center;
  background-color: #ffc8c8;
  color: white;
  padding: 7% 15%;
}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin-top: 30px;
  margin-right: 5px;
}

#press{
  background-color: #ffc8c8;
  text-align: center;
  padding-bottom: 4%;
}
.press-icon{
  width: 15%;
}
#pricing{
  text-align: center;
  padding: 3%;
}
.cta{
  background-color:#ff4c68;
  padding: 30px;
  text-align: center;
}
.cool{
  padding-top:20px;
  color:white;
}
#footer{
  background-color:#ff4c68;
  text-align: center;
  font-size: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 0;
}
