body{

  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
    display: none;
  }

.navbar h3{
  color: grey;
  font-family: "monserrat";
  transition: 0.5s all ease;
}
.navbar h3:hover{
  color: black;
  transform: scale(1.2);
}
.nav-item{
  transition: 0.5s all ease;
}
.nav-item:hover{
  color: black;
  transform: scale(1.2);

}
.top{
  display: flex;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 100px;

}
 .top img{
   margin-top: 90px;
   padding-bottom: 70px;
   border: 2px solid white;
   transform: translateX(3%);

}
.top .box{
  width: 50%;
  height: 40%;
  border: 5px solid black;
  border-left: 0;
  transform:translateY(70%);
  align-items: center;
  text-align: center;
  margin-top: 15%;
  justify-content: center;
  margin-right: 10%;
}
 .top .box h1{
   margin: 0;
   margin-top: 10%;
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-family: "monserrat";
   font-size: 4em;
 }
 .top .box p{
   margin: 0;
   text-align: center;
   padding-right: 30px;
   text-decoration: none;
   color: grey;
   font-family: cursive;
 }
.middle{
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-color: white;
  width: 100%;
  height: 100%;
}
.middle .box{
  position: absolute;
  width: 37%;
  height: 20%;
  border: 5px solid black;
  border-top: 0;
  transform:translateX(29%);
  right: 150px;
  align-items: center;
}
.middle .box h1{
  text-align: center;
  font-family: "monserrat";
}
.middle em{
  text-align: center;
  font-size: 0.7em;
  margin-left:25%;
  justify-content: center;
}
.middle p{
  color: grey;
  text-align: justify;
  position: absolute;
  margin: 35% 4%;
}
.products{
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  align-items: center;
}
.products .box{
  position: absolute;
  width: 37%;
  height: 15%;
  border: 5px solid black;
  border-top: 0;
  align-items: center;
  text-align: center;
}
.products .box h1{
  margin-top: 20px;
  font-family: "monserrat";
}
.boxy{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  margin-top: 15%;
  transition: 0.5s all ease;
}
.boxy img{
  width: 80%;
  height: 60%;

}
.boxy:hover{
  transform: scale(1.2);
}
.boxy h5{
  font-family: "monserrat";
  text-align: left;
}
.boxy p{
  font-style: "monserrat";
  text-align: justify;
  width: 80%;
  color: grey;
}
.reviews{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 100px;
  padding-top: 0;
  align-items: center;
  text-align: center;
}
 .boxmax{
position: absolute;
width: 37%;
height: 15%;
border: 5px solid black;
border-top: 0;
align-items: center;
text-align: center;
left: 30%;
}
.carousel{
  padding-top: 20%;
}
.person{
  width: 30%;
  height: 30%;
}
.carousel-item h2{
  font-family: "monserrat";

}
.carousel-item p{
  padding: 30px 100px;
  padding-bottom: 0;
  text-align: center;
  color: grey;

}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.contact{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 100px;
  padding-top: 0;
}
.boxc{
  position: absolute;
  width: 35%;
  height: 60%;
  right: 10px;
  border: 5px solid black;
  border-right: 0;
  align-items: center;
  text-align: center;
  justify-content: right;
  margin-left: 70px;


}
.boxc h1{
  font-family: "monserrat";
  text-align: center;
}
.boxc h6 {
  text-align: left;
}
.boxc p{
  text-align: left;
  margin-right: 30px;
}
.rot{
  padding-top:10%;
}
.end{
  background-color: grey;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}
@media only screen and (min-width:500px){
  .top{

  }
  .middle{
    padding-bottom: 100px;
  }
  .products{
    margin-top: 15%;
    padding-bottom: 100px;
  }
  .products .box {
    height: 100px;
    margin: 20px 0;
    padding-bottom: 5%;
  }
  .boxy{
    padding-top: 70px;
  }
  .boxmax{
    height: 100px;
  }
  .contact{
    height: 200%;
  }
}
